<!doctype html>
<html>
	<head>
		<title>Hello AngularJS</title>
		<script src="https://code.angularjs.org/1.4.6/angular.js"></script>
		<script src="https://code.angularjs.org/1.4.6/angular-resource.js"></script>
		<script src="app/text2net_http.js"></script>
		
	</head>

	<body>
		
		<div id="sidebar" ng-app="Text2net">
			<div ng-controller='ConnectionCtrl'>
				{{teste}}
				
				<li ng-repeat="connection in connections">
					<span>{{connection.elementA.name}} - {{connection.elementB.name}}</span>
					<span>{{connection.elementA.initialOffset}} - {{connection.elementB.initialOffset}}</span>
				</li>
				{{markedUpText}}
				<!-- {{generatePajek(connections)}} -->
				<form ng-submit="submitConnections()">
					<input  ng-model="connectionQuery.name" type="text" value="Give a name to this network " onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Give a name to this network';}">
					<textarea ng-model="connectionQuery.text">Text *</textarea>
					<span class="submit-btn"><input type="submit" value="Send"></span>
				</form>
			
			<textarea>{{generatePajek(connections)}}</textarea>
			
			
			</div>
		</div>

		

		

	</body>
</html>